@charset "utf-8";
/* CSS Document */
body {
	background-color:#3399CC;
}
.box {
	width: 200px;
	height: 10px;
	padding: 10px;
	
	
	
	-moz-transition: all 200ms linear;
	-webkit-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

button {
	position:relative;
	z-index: 5555;
}

.active {
     text-decoration:line-through;
}

.form {
	margin: 5em auto;
	padding: 2em;
	width: 20em;
	background-color: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,0.6);
}

div {
	padding: 0 0 1em 0;
}
h1,
li {font-family:"Courier New", Courier, monospace;
	font-size:20px;
}